import yaml
{% if jupyterhub_spawners is defined %}
{% for spawner in jupyterhub_spawners %}
import {{ spawner }}
{% endfor %}
{% endif %}

{% if jupyterhub_custom_code is defined %}
{{ lookup('file', jupyterhub_custom_code) }}
{% endif %}

with open('{{ jupyterhub_config_yaml }}', 'r') as f:
    jupyterhub_config = yaml.load(f)

{% for handler in jupyterhub_config %}
{% for option in jupyterhub_config[handler] %}
c.{{ handler }}.{{ option }} = jupyterhub_config['{{ handler }}']['{{ option }}']
{% endfor %}
{% endfor %}
